# --- OS & Editor ---
.DS_Store
.vscode/
*.swp
*.swo

# --- Python & build ---
__pycache__/
*.py[cod]
*.so
dist/
build/
*.egg-info/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# --- Environments ---
.venv/
.env

# --- Documentation ---
site/

# --- Project data ---
# Ignore all data content but keep the folder structure
data/*
!data/**/*.gitkeep

# --- Jupyter ---
.ipynb_checkpoints

# --- LaTeX ---
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
# *.pdf
